<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="Calendar.Model.StorageContext"
             providerName="System.Data.SqlClient"
             connectionString="DataSource=(localdb)\v13.0;
                AttachDbFilename=C:\tmp\Calendar.Model.StorageContext.mdf;
                InitialCatalog=Model.StorageContext;
                IntegratedSecurity=True"
             />
    </connectionStrings>
</configuration>